/* dev: Francesco Cimino; */
/* proj: Our Team; */
/* lang: css; */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body */
body{
    background-color: rgb(245, 235, 235);
    font-family: 'Crimson Text', serif;
}



/* main-container */
.main-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}



/* header */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}



/* img-formatting */
/* img */
img {
    max-width: 100%;
    opacity: .5;
    border: 15px solid white;
    transition-duration: 1s;
}

/* hover */
img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(.8);
    border-radius: 50%;
    border: 15px solid white;
}



/* typography */
/* h1 */
h1 {
    text-align: center;
}

/* p */
p {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}



/* list-formatting */
/* ul */
ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;
}

/* li */
li {
    width: calc(100% / 3 - 1rem);
    margin-bottom: 10px;
}



/* card-formatting */
/* card-name */
.card-name {
    text-align: center;
    margin-top: 0.2rem;
    color: brown;
}

/* card-role */
.card-role{
    text-align: center;
    margin-top: 0.2rem;
    color: burlywood;
}



/* footer */
footer{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}


